body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* 禁止内容溢出时出现滚动条 */
}

table {
  width: 100vw;
  height: 35vw;
  border-collapse: collapse;
  border-radius: 2vw;
}

th,
td {
  border: 0px solid #ccc;
  padding: 0.5vw;
  text-align: center;
  vertical-align: middle;
}

.line {
  border-top: 0.1vw solid rgba(255, 255, 255, 0);
}

.back {
  background-color: rgba(255, 255, 255, 0.75);
  height: 30vw;
}

.code {
  width: 98%;
  height: 94%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1vw;
  transition: box-shadow 0.125s, opacity 0.125s, width 0.35s, height 0.35s;
}

.code:hover {
  width: 94%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1vw;
  opacity: 1;
}

.code:active {
  width: 96%;
  height: 92%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1vw;
  opacity: 1;
}

button {
  background-color: rgb(2, 158, 255);
  color: white;
  border-width: 0px;
  border-radius: 5vw;
  width: 6vw;
  height: 4vw;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  transition: font-size 0.125s, box-shadow 0.125s, opacity 0.125s, width 0.125s, height 0.125s;
}

button:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 1.8vw;
  width: 8vw;
  height: 7.5vw;
  opacity: 0.75;
}

button:active {
  opacity: 0.5;
  width: 8.5vw;
  height: 7.5vw;
}

.left_top:focus {
  opacity: 1;
  color: rgba(0, 0, 0, 0);
  width: 200vw;
  height: 100vw;
  transition: font-size 0.5s, width 0.5s, height 0.5s, background-color 0.5s,
    color 0.25s;
}

.注册:focus {
  opacity: 1;
  background-color: rgb(2, 158, 255);
  color: rgba(0, 0, 0, 0);
  width: 200vw;
  height: 100vw;
  transition: font-size 0.5s, width 0.5s, height 0.5s, background-color 0.5s,
    color 0.25s;
}

.current {
  background-color: white;
  color: rgb(2, 158, 255);
}

.yyds {
  width: 25vw;
  height: 25vw;
  transition: box-shadow 0.125s, opacity 0.125s, width 0.125s, height 0.125s;
}

.yyds:hover {
  width: 23.5vw;
  height: 23.5vw;
}

.yyds:active {
  width: 26vw;
  height: 26vw;
}

.main {
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(2, 158, 255);
  border-color: rgb(2, 158, 255);
  border-width: 0px;
  border-radius: 1vw;
  width: 100vw;
  height: 5vw;
  font-size: 2vw;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border-style: solid;
}

.main:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  opacity: 1;
  width: 100vw;
  font-size: 2vw;
  height: 5vw;
}

.main:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  opacity: 1;
  width: 100vw;
  font-size: 2vw;
  height: 5vw;
}

.top {
  height: 25%;
}

img {
  border-radius: 2vw;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -1;
}

.img_let {
  height: 15vw;
  width: 15vw;
  border-radius: 4vw;
  transition: box-shadow 0.2s, opacity 0.15s, width 0.15s, height 0.15s;
}

.img_let:hover {
  height: 14vw;
  width: 14vw;
}

.谭育荣 {
  width: auto;
  height: 28vw;
  border-radius: 2vw;
  box-shadow: 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.125s, opacity 0.125s, width 0.125s, height 0.125s;
}

.谭育荣:hover {
  width: auto;
  height: 28vw;
}

.谭育荣:active {
  width: auto;
  height: 28vw;
}

.headimg {
  width: 5vw;
  height: 5vw;
  border-radius: 1vw;
  box-shadow: 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.125s, opacity 0.125s, width 0.125s, height 0.125s;
}

.headimg:hover {
  width: 15vw;
  height: 15vw;
  box-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.35);
  border-radius: 2vw;
}

.标签留言 {
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.75);
  color: rgba(0, 0, 0, 0.8);
  border-width: 0px;
  border-style: solid;
}

.标签留言:hover {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.标签留言:active {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.page {
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.page:hover {
  opacity: 1;
}

body,
html {
  background-color: rgb(2, 158, 255, 1);
  transition: background-color 0.75s, opacity 0.5s ease;
}

body::after {
  content: 'My-Website';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vw;
  color: white;
  opacity: 1;
  transition: opacity 0.75s ease, font-size 0.75s ease, color 0.5s ease;
  /* 添加过渡效果 */
  pointer-events: none;
  /* 防止文字干扰其他元素的交互 */
  z-index: 1;
  /* 将文字置于背景后方 */
}

body:hover::after {
  opacity: 0;
  font-size: 1vw;
  color: rgba(0, 0, 0, 0);
}

body:hover {
  background-color: rgb(2, 158, 255, 0);
}
