button {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.4);
  width: 60vw;
  height: 20vw;
  font-size: 12vw;
  border-radius: 8vw;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: font-size 0.4s, width 0.4s, height 0.4s, background-color 0.4s,
    color 0.4s;
}

button:hover {
  width: 75vw;
  height: 30vw;
  font-size: 16vw;
  color: rgba(0, 0, 0, 0.8);
}

button:focus {
  width: 200vw;
  height: 200vw;
  font-size: 24vw;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0);
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* 禁止内容溢出时出现滚动条 */
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -1;
}

table {
  /* background-color: white; */
  width: 100vw;
  height: 100vw;
  transition: background-color 0.75s;
}

table:hover {
  background-color: rgba(255, 255, 255, 0);
}

th,
td {
  border: 0px solid #ccc;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
